.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  font-family: 'Courier New';
  color: #000000;
}

div#header1 {
  text-align: left;
}

div#header2 {
  text-align: right;
}

Button#create {
  display: flex;
  margin-left: auto;
}

#display {
    display: table;
    width: 100%;
    height: 100vh;
    text-align: center;
}

.text {
	  display: table-cell;
	  vertical-align: middle;
}

.text h1 {
		font-size: 50px;
		font-family: 'Courier', sans-serif;
		color: #888;
	  display: inline-block;
	  padding-right: 12px;
}

h1.animate-type {
    animation: type .5s alternate infinite;
}

h1.animate-ellipsis:after {
	font-family: 'Times New Roman';
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4,end) 1200ms infinite;      
  animation: ellipsis steps(4,end) 1200ms infinite;
  content: "\2026"; /* ascii code for the ellipsis character */
  width: 0px;
}

@keyframes type {
	from {
		box-shadow: inset -3px 0px 0px #888;
	}
	to {
		box-shadow: inset -3px 0px 0px transparent;
	}
}

@keyframes ellipsis {
  to {
    width: 1.25em;    
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 1.25em;    
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}